{{!-- views/auth/signup.hbs --}}
<div class="signbox">

    <form action="/auth/signup" method="POST" class="signup">

        <div class="signup1">
            <h2>Tu nombre de usuario</h2>
                <input type="text" name="username" placeholder="mikenieva" />

            <h2>Tu Email</h2>
                <input type="email" name="email" placeholder="mike@gmail.com" />

            <h2>Escribe una contraseña</h2>
                <input type="password" name="password" placeholder="mikenieva" />


            <button type="submit">
                Crear cuenta
            </button>
        </div>

    </form>

</div>