<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
</head>
<body>

    {{!-- {{#if currentUser}}
        <p>Estoy loggeado</p>
        {{else}}
        <p>No estoy loggeado</p>
    {{/if}} --}}
    
    <nav>
        <ul>
            
            {{#if currentUser}}
                <li>
                    <a href="/user/profile">Mi perfil</a>
                </li>
                <li>
                     <a href="/products">Lista de productos</a>
                </li>
                <li>
                    <form action="/auth/logout" method="POST">
                        <button>Cerrar sesión</button>
                    </form>
                </li>
            {{else}}
                <li>
                    <a href="/auth/signup">Registrarme</a>
                </li>
                <li>
                    <a href="/auth/login">Iniciar sesión</a>
                </li>
            {{/if}}
     
        </ul>

    </nav>
    
    {{{body}}}
    
</body>
</html>