<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
</head>
<body>


    <nav class="topnav">
        <ul>
            
            {{#if currentUser}}
            <div class="links">
                <li class="links1">
                    <a  class="links0" href="/user/profile">Mi perfil</a>
                </li>
                 <li class="links1">
                     <a class="links0" href="http://localhost:3000/products/create">Crear productos</a>
                </li>
                <li class="links1">
                     <a class="links0" href="/products">Lista de productos</a>
                </li>
                <li>
                    <form action="/auth/logout" method="POST">
                        <button class="cerrar">Cerrar sesión</button>
                    </form>
                </li>
            </div>
            {{else}}
            <div class="links">
                <li class="links1">
                    <a class="links0" href="/auth/signup">Registrarme</a>
                </li>
                <li class="links1">
                    <a class="links0" href="/auth/login">Iniciar sesión</a>
                </li>
            </div>
            {{/if}}
     
        </ul>

    </nav>
  
    
    {{{body}}}
    
</body>
</html>