/*
*   Inicio Mobile
*/

body{
    background-color: lightskyblue;
}

.topnav{
   
    width: 100%;
}
.topnav a:hover {
    background-color:black;
    color: white;
}
.topnav a.active {
    background-color: black;
    color: white;
  }

  .logo1{
    height: 300px;
    width: 300px;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

}


.links0{
    text-decoration: none !important;
    color: black;
   
}

.imgbox{
    width: 100%;
}

.img1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signbox{
    display: flex;
    justify-content: center;

    
}


.signup{
    background-color: white;
    width: 40%;
    border-radius: 25px;
    margin-top: 70px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;

}
.signup1{
    margin: 25px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 60px;
    margin: 20px;
    

  }

.grid-item{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    border-radius: 10px;
    background-color: white;
}


@media(min-width:601px) {

    .logo1{
        height: 300px;
        width: 300px;
    }

    body{
        background-color: lightskyblue;
        font-family: Arial, Helvetica, sans-serif;
    }

    .topnav{
   
        width: 100%;
    }
    .topnav a:hover {
        background-color:black;
        color: white;
    }
    .topnav a.active {
        background-color: black;
        color: white;
      }

    .links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    
    }

    .links0{
        text-decoration: none !important;
        color: black;
       
    }
    
    .imgbox{
        width: 100%;
    }

    .img1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .signbox{
        display: flex;
        justify-content: center;
  
        
    }

    .signup{
        background-color: white;
        width: 30%;
        border-radius: 25px;
        margin-top: 70px;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;

    }
    .signup1{
        margin: 25px;
    }

    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        padding: 60px;
        margin: 20px;
        

      }

    .grid-item{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        border-radius: 10px;
        background-color: white;
    }
    
    .formedit{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logcontain1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    .xchange{
        font-weight: bolder;
        font-size: 30px;
    }

    .deletebtn{
        margin-top: 10px;
    }
  
    .pic1{
        height: 100px;
        width: 100px;
    }

  .cerrar{
    background-color:black;
    color: white;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.cerrar a:hover {
    background-color:black;
    color: white;
    }
    .ver1 a.active {
        background-color: black;
        color: white;
    }

  .ver1{
    text-decoration: none !important;
    color: black;
  }
  .ver1 a:hover {
    background-color:black;
    color: white;
    }
    .ver1 a.active {
        background-color: black;
        color: white;
    }
}
