
<div class="signbox">

    <form action="create" method="POST" class="signup">
    
        <div class="signup1">
            <h2>Título</h2>
            <input type="string" name="title" />

            <h2>Descripción</h2>
            <input type="string" name="description" />

            <h2>Autor</h2>
            <input type="string" name="author" />
            
            <h2>Url Imagen</h2>
            <input type="string" name="img" />

            <button type="submit"  >
                Crear producto
            </button>
        </div>
    </form>
</div>