<div class="signbox">
    <div class="signup">
        <div class="signup1">
            <h1>{{title}}</h1>
            <h2>{{description}}</h2>
            <p>{{author}}</p>
            <img class="pic1" src={{img}} alt="fotografia">
        </div>
    </div>
</div>
